version: "3.8"

services:
  server:
    image: z34_server_image
    build: ./server
    container_name: z34_tcp_server
    networks:
      - lab_network
    tty: true
    cap_add:
      - NET_ADMIN

  client:
    image: z34_client_image
    build: ./client
    container_name: z34_tcp_client
    networks:
      - lab_network
    tty: true
    cap_add:
      - NET_ADMIN
    depends_on:
      - server

networks:
  lab_network:
    external: true
    name: z34_network
