version: "3.8"

services:
  server:
    # Serwer jest teraz w Pythonie
    image: z34_py_server_image # Nowa nazwa obrazu
    build: ./server
    container_name: z34_py_server # Nowa nazwa kontenera
    networks:
      - lab_network
    tty: true
    # cap_add: - NET_ADMIN # Serwer już nie potrzebuje 'tc'

  client:
    # Klient jest teraz w C
    image: z34_c_client_image # Nowa nazwa obrazu
    build: ./client
    container_name: z34_c_client # Nowa nazwa kontenera
    networks:
      - lab_network
    tty: true
    cap_add:
      - NET_ADMIN # KLUCZOWE: Wciąż wymagane do uruchomienia 'tc'
    depends_on:
      - server
    # --- SYMULACJA BŁĘDÓW ---
    # Polecenie jest prawie identyczne, ale na końcu
    # uruchamia skompilowany program C (./client)
    # zamiast skryptu Pythona.
    command: /bin/sh -c "sleep 2 && \
      tc qdisc add dev eth0 root netem loss 10% delay 50ms && \
      echo '--- SYMULACJA GUBIENIA PAKIETÓW AKTYWNA (10% loss, 50ms delay) ---' && \
      ./client"

networks:
  lab_network:
    external: true
    name: z34_network
