version: "3.8"

services:
  server:
    image: z34_server_image
    build: ./server
    container_name: z34_server
    networks:
      - lab_network
    tty: true

  client:
    image: z34_client_image
    build: ./client
    container_name: z34_client
    networks:
      - lab_network
    tty: true
    cap_add:
      - NET_ADMIN
    depends_on:
      - server

    command: /bin/sh -c "sleep 1 && \
      tc qdisc add dev eth0 root netem loss 10% delay 50ms && \
      ./client"

networks:
  lab_network:
    external: true
    name: z34_network
